.git
.gitignore
.env
.env.*
!.env.example

node_modules
**/node_modules
.pnpm-store

**/.nuxt
**/.output
**/dist
**/build
**/.strapi
**/.cache
**/.tmp
**/*.log
**/*.tsbuildinfo

apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep

.idea
.vscode
.DS_Store
Thumbs.db
