# Nuxt
NUXT_PUBLIC_STRAPI_URL=http://localhost:1337

# Strapi (temporary SQLite bootstrap for stage 1 only)
HOST=0.0.0.0
PORT=1337
APP_KEYS=change-me-1,change-me-2
API_TOKEN_SALT=change-me
ADMIN_JWT_SECRET=change-me
TRANSFER_TOKEN_SALT=change-me
JWT_SECRET=change-me
ENCRYPTION_KEY=change-me
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
